<md-card>
  <md-card-header>
    <div md-card-avatar class="avatar"></div>
    <md-card-title>Piotr J. M.</md-card-title>
    <md-card-subtitle>Everything</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    {{ renderedPost.body }}
  </md-card-content>

  <md-card-actions>
    <button (click)='onClickComment(renderedPost); $event.stopPropagation()' md-button>Comment</button>
  </md-card-actions>
</md-card>

<div *ngIf='displayCommentBox'>
  <md-card *ngFor='let comment of comments'>
     {{ comment.title }}
  </md-card>
</div>
