<md-card>
  <md-card-header>
    <div md-card-avatar class="avatar"></div>
    <md-card-title>Piotr J. M.</md-card-title>
    <md-card-subtitle>Everything</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    Just an example card, you will not find here anything really. Ich bin sehr sicher dass du nicht Zeit hast, zu diese insgesamte Lorem Ipsum zu lesen.
    Masz lepsze rzeczy do roboty aniżeli czytać to, serio marnujesz czas tłumacząc jeszcze do tego. Je n'ai plus d'idees quel que chose je pouvais incluye ici.
    En realidad voy a decirte q te quiero y quiero q quedate aqui conmigo. En github por la toda la vida!
  </md-card-content>

  <md-card-actions>
    <button md-button>Comment</button>
  </md-card-actions>
</md-card>
